.style-editor {
    width: 100%;
    height: 100%;
    background: lightblue;
    border-bottom: 1px solid white;
}

.style-editor .title {
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}

.style-editor .input-text {
    width: 100%;
    height: calc(100% - 30px);
    padding: 0 10px 10px 10px;
    cursor: pointer;
    overflow: scroll;
}

.style-editor textarea {
    font-family: monospace;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

.style-editor .hidden {
    display: none;
}